body {
    font-family: IBM Plex Sans, Roboto, sans-serif;
}

.navbar {
    background-color: #1b263c;
}

.navbar-brand {
    padding-right: 1em;
}

.btn {
    background-color: #526590;
}

.as-nav-icon {
    color: White;
    font-size: 2em;
    padding-right: 20px;
}

.as-intro-text {
    line-height: 1.8;
}

.as-contact-card {
    background-color: #FFFFFF;
}

.as-contact-icons {
    font-size: 2em;
}

.as-contact-icon-link {
    color: #526590;
}

.as-contact-other {
    background-color: #526590;
    color: #FFFFFF;
    font-size: 1em;
}

@media (min-width: 992px) {
    .as-photo {
        width: 80%;
        max-width: 100%;
    }
}

@media (max-width: 991.98px) {
    .as-photo {
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .as-card-parent {
        width: 70%;
    }
}

@media (max-width: 991.98px) {
    .as-card-parent {
        width: 100%;
    }
}